.alert {
  padding: 1rem;
  border-radius: $border-radius;
  border: $solid-border $primary-transparent-02;
  background-color: $primary-transparent-01;
  text-align: center;
  color: $primary-light;
  margin: 2rem 0;

  .alert-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    p {
      margin-bottom: 0;
    }
    .alert-close {
      justify-self: flex-end;
      cursor: pointer;
      padding: 0.1em;
      &:hover {
        color: darken($primary, 20%);
      }
    }
  }
}
