.alert,
.chat-msg {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 2px solid $color22;
  background-color: $color21;
  text-align: center;
  color: $color3;
  margin: 2rem 0;
  .alert-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    .alert-close {
      justify-self: flex-end;
      cursor: pointer;
      padding: 0.1em;
      &:hover {
        color: darken($color2, 20%);
      }
    }
  }
}
