.animate {
  animation-name: wiggle;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

/* Keyframes */
@keyframes wiggle {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 120%;
    color: $txt-light;
  }
}
