.pagination-button-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  max-width: 70ch;
}

button,
.pagination-button,
.google-button {
  background-color: $color2;
  padding: 0.5em;
  min-height: 3em;
  border-radius: 0.25em;
  border: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }
}

.big-button {
  background-color: $color1;
  margin: 1em 0 0 0;
  width: 100%;
}

// @media only screen and (min-width: 600px) {
//   .big-button {
//     max-width: 70ch;
//   }
// }
