button {
  background-color: $primary;
  padding: 0.5em;
  min-height: 3em;
  border-radius: 0.25em;
  border: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:disabled {
    opacity: 30%;
  }
}

.full-width-button {
  margin: 1em 0;
  width: 100%;
  color: $txt-dark;
  &:disabled {
    opacity: $disabled-opacity;
  }
}

.pagination-button-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  max-width: 70ch;
}

.pagination-button,
.card-save,
.deleteMessage,
.data-google-link,
.saved-item-close {
  cursor: pointer;
  font-size: 16px;
  color: $primary;
  background-color: transparent;
}
