.card-link {
  .card {
    max-width: 70ch;
    background-color: lighten($primary, 15%);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 5rem;

    .card-title {
      color: $txt-dark;
    }
    .card-img {
      filter: contrast(1.1);
      width: 5rem;
      margin: 0;
      max-height: 5rem;
      object-fit: contain;
      justify-self: flex-start !important;
    }

    p {
      padding: 0;
      height: fit-content;
      text-decoration-line: none;

      &:hover {
        border: none;
      }
    }

    &:hover {
      background-color: $primary;
    }
  }
}

.card-content {
  .card-main-content {
    display: flex;
    flex-direction: column;

    p,
    .data-title,
    .data-google-link {
      padding: 0;
    }

    .card-img {
      border-radius: 0.25rem;
      width: 100%;
      margin: $block-flow-sm 0;
      filter: contrast(1.1);
      cursor: pointer;

      &:hover {
        opacity: 50%;
      }
    }

    .data-provider {
      font-size: 80%;
    }

    .data-caption {
      color: $primary;
    }

    .data-copyrights {
      color: $primary;
    }
    .card-content-button-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin: 1rem 0;

      .data-google-link {
        border: none;
        color: $txt-light;
        font-weight: 400;
      }

      .card-save {
        color: $txt-light;
        opacity: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $bg-dark-transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-content {
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;

    .img-modal {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    figcaption {
      font-weight: bold;
      color: $txt-light;
      text-align: center;
      padding: 1rem 0;
    }

    .close-modal {
      cursor: pointer;
      align-self: flex-end;
      color: $primary;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        color: $primary-light;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .card-content {
    .card-main-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      .card-img {
        max-width: 40%;
      }
    }
  }
}
