.card-link {
  text-decoration: none;
  &:hover {
    background-color: darken($primary, 20%);
  }
  .card {
    background-color: $primary;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem $padding-sm;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 5rem;

    .card-img {
      width: 5rem;
      margin: 0;
      max-height: 5rem;
      object-fit: contain;
      justify-self: flex-start !important;
    }
    p {
      padding: 0;
      height: fit-content;
      text-decoration-line: none;
      color: $text-color;
      &:hover {
        border: none;
      }
    }
  }
}

.card-content {
  padding: 1em;
  .data-title,
  .data-description {
    padding: 0;
  }
  .card-img {
    width: 100%;
  }

  .data-provider {
    font-size: 80%;
  }
}
