footer {
  background-color: darken($primary, 30%);
  color: white;
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: white;
  }
}
