header {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  h1 {
    margin: auto;
    justify-self: center;
    text-align: justify;
  }
}
