header {
  display: flex;
  align-items: center;
  gap: 2em;
  left: 0;
  right: 0;
  background-color: darken($primary, 30%);
  color: white;
  nav {
    display: flex;
    gap: 1em;
    align-items: center;
    .nav-link {
      color: white;
      &.active {
        border: none;
      }
      &:hover {
        color: white;
      }
    }
    .login-nav-link {
      color: $text-color;
      background-color: lighten($primary, 20%);
      padding: 0.25em;
      border-radius: 0.25em;
      border-bottom: transparent;
      &:hover {
        color: $text-color;
        background-color: lighten($primary, 10%);
      }
    }
  }
}
