header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  a {
    border-bottom: none !important;
  }

  .logo {
    font-weight: 600;
    font-style: normal;
    color: $txt-light;
    white-space: nowrap;
  }

  nav {
    .nav-button {
      color: $txt-light;
      margin: 0.5em;
      padding: 0.5em;
      border: 2px solid $txt-light;
      border-bottom: 2px solid !important;
      border-radius: 0.25em;

      &.active {
        border: 2px solid lighten($bg-dark, 15%);
        border-bottom: none !important;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.25em;
        background-color: lighten($bg-dark, 15%);
        color: $txt-light;
      }

      &:hover {
        color: $primary;
        border: transparent;
        border-bottom: none !important;
      }
    }

    .nav-link {
      &.active {
        color: $txt-light;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  header {
    min-width: 600px;
  }
}
