.ergebnis-info {
  font-size: 80%;
  font-style: italic;
  text-align: right;
}
.pagination-button-container {
  display: flex;
  justify-content: space-between;

  button {
    background-color: lighten($primary, 10%);
    font-family: $font;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      opacity: 60%;
    }
  }
}
