.search-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

label {
  color: $txt-light;
}

input {
  width: 100% !important;
  display: block;
  background-color: $bg-light;
  height: 3em;
  border: 2px solid $primary-light;
  border-radius: 0.25em;

  &::placeholder {
    color: lightgrey;
    font-size: 120%;
  }
}
