.search-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

label {
  color: $txt-light;
}
input {
  width: 98%;
  display: block;
  background-color: white;
  height: 3em;
  border: 2px solid $color3;
  border-radius: 0.25em;

  &::placeholder {
    font-weight: bold;
    color: lightgrey;
  }
}

input {
  &::value {
    color: red;
  }
}
