.search-container {
  input {
    width: 100%;
    height: 2em;
    border: 2px solid darken($primary, 15%);
    border-radius: 0.25em;
    &:focus {
      border: 2px solid red !important;
    }
    &::placeholder {
      font-weight: bold;
      color: lighten($primary, 5%);
    }
  }
}
