$bg-dark: #060010;
$bg-light: #fffaf0;
$txt-dark: $bg-dark;
$txt-light: $bg-light;

$color2: #ffde98;
$color22: rgba(255, 215, 0, 0.2);
$color21: rgba(38, 38, 37, 0.1);
$color3: lighten($color2, 10%);

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/* padding */
$padding-sm: clamp(1rem, 3%, 1.5rem);
$padding-md: clamp(1.5rem, 6%, 3rem);
$padding-lg: clamp(3rem, 30%, 10rem);
$padding-xl: clamp(6rem, 60%, 20rem);
$padding-xxl: clamp(9rem, 90%, 30rem);

/*margin*/
$block-flow-sm: min(2rem, 4vh);
$block-flow-md: min(4rem, 8vh);
$block-flow-lg: min(8rem, 16vh);
$block-flow-xl: min(16rem, 32vh);
$block-flow-xxl: min(24rem, 48vh);
$block-flow-xxxl: min(48rem, 96vh);
