$primary: lightgrey;
$text-color: darken($primary, 80%);

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/* padding */
$padding-sm: clamp(1rem, 3%, 1.5rem);
$padding-md: clamp(1.5rem, 6%, 3rem);
$padding-lg: clamp(3rem, 30%, 10rem);

/*margin*/
$block-flow-sm: min(2rem, 4vh);
$block-flow-md: min(4rem, 8vh);
$block-flow-lg: min(8rem, 16vh);
