@import "vars";
@import "a11y";
@import "header";
@import "typography";
@import "inputs";
@import "login";
@import "card";
@import "footer";
@import "alerts";
@import "button";

* {
  overflow-wrap: break-word;
}
body {
  line-height: 1.5;
  background-color: $bg-dark;
  font-family: $font;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  padding: $padding-sm;
  align-items: center;
  main {
    margin: 0;

    max-width: 70ch;
  }
}

@media only screen and (min-width: 600px) {
  body {
    padding: $padding-sm $padding-md;
    main {
      margin: $block-flow-md;
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: $padding-sm $padding-lg;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: $padding-sm $padding-lg;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: $padding-sm $padding-xl;
  }
}

@media only screen and (min-width: 1800px) {
  body {
    padding: $padding-sm $padding-xxl;
    main {
      max-width: 70ch;
    }
  }
}
