@import "vars";
@import "a11y";
@import "header";
@import "typography";
@import "home";
@import "search";
@import "login";
@import "card";
@import "theme";
@import "footer";
@import "salutation";

* {
  overflow-wrap: break-word;
}
body {
  line-height: 1.5;
  background-color: whitesmoke;
  margin: 0 0 auto 0;
  padding: 0;
  font-family: $font;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  header,
  h1,
  h2,
  h3,
  p,
  Link,
  footer,
  .pagination-button-container,
  .search-container {
    padding: $padding-sm;
  }

  main {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  body {
    header,
    h1,
    h2,
    h3,
    p,
    Link,
    footer,
    .card,
    .search-container,
    .pagination-button-container {
      padding: $padding-sm $padding-lg;
    }
  }
}
