/*------Colors------*/
/*------Fonts------*/
/*------Paddings------*/
/*------Margins------*/
/*------Borders------*/
/*------Disabled------*/
/*------Transition------*/
h1 {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header a {
  border-bottom: none !important;
}
header .logo {
  font-weight: 600;
  font-style: normal;
  color: #fffaf0;
  white-space: nowrap;
}
header nav .nav-button {
  color: #fffaf0;
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid #fffaf0;
  border-bottom: 2px solid !important;
  border-radius: 0.25em;
  transition: 1s !important;
}
header nav .nav-button.active {
  border: 2px solid #23005d;
  border-bottom: none !important;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #23005d;
  color: #fffaf0;
}
header nav .nav-button:hover {
  color: #ffd698;
  border: transparent;
  border-bottom: transparent !important;
  transition: 1s;
}
header nav .nav-link.active {
  color: #fffaf0;
}

@media only screen and (min-width: 600px) {
  header {
    min-width: 600px;
  }
}
html {
  font-size: 16px;
}
html h1,
html h2,
html h3 {
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #ffd698;
}
html h2 {
  margin-top: 0;
  padding-top: 0;
}
html h2.title {
  padding-top: 2rem;
  font-family: "poster-cut-neue", sans-serif;
  line-height: 1;
  text-align: center;
}
html p {
  max-width: 70ch;
  color: #fffaf0;
  line-height: 1.6;
  margin-top: 0;
  padding-top: 0;
}
html p.total-results {
  color: #ffd698;
}
html p.small {
  font-size: 80%;
}
html a {
  color: #ffd698;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid;
  transition: 1s;
}
html a:hover {
  border: none;
}

@media only screen and (min-width: 600px) {
  h2.title {
    font-size: 300%;
  }
}
/* Ratio Scale */
h4,
.h4 {
  font-size: 1.25rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
        1rem,
        4.25vw + 1rem,
        1.25rem
      );
}

h3,
.h3 {
  font-size: 1.5625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
        1.046875rem,
        4.515625vw + 1rem,
        1.5625rem
      );
}

h2,
.h2 {
  font-size: 1.953125rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
        1.30859375rem,
        4.64453125vw + 1rem,
        1.953125rem
      );
}

h1,
.h1 {
  font-size: 2.44140625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
        1.6357421875rem,
        4.8056640625vw + 1rem,
        2.44140625rem
      );
}

.search-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

label {
  color: #fffaf0;
}

input {
  width: 100% !important;
  display: block;
  background-color: #fffaf0;
  height: 3em;
  border: 2px solid #ffeacb;
  border-radius: 0.25em;
}
input::-moz-placeholder {
  color: lightgrey;
  font-size: 120%;
}
input:-ms-input-placeholder {
  color: lightgrey;
  font-size: 120%;
}
input::placeholder {
  color: lightgrey;
  font-size: 120%;
}

.register-form .username-container,
.register-form .email-container,
.register-form .password-container,
.login-form .username-container,
.login-form .email-container,
.login-form .password-container {
  max-width: 70ch;
  margin-bottom: 0.5rem;
  align-items: center;
}

.card-link .card {
  max-width: 70ch;
  background-color: #fff4e5;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 5rem;
}
.card-link .card .card-title {
  color: #060010;
}
.card-link .card .card-img {
  filter: contrast(1.1);
  width: 5rem;
  margin: 0;
  max-height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: flex-start !important;
}
.card-link .card p {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.card-link .card p:hover {
  border: none;
}
.card-link .card:hover {
  background-color: #ffd698;
}

.card-content .card-main-content {
  display: flex;
  flex-direction: column;
}
.card-content .card-main-content p,
.card-content .card-main-content .data-title,
.card-content .card-main-content .data-google-link {
  padding: 0;
}
.card-content .card-main-content .card-img {
  border-radius: 0.25rem;
  width: 100%;
  margin: min(2rem, 4vh) 0;
  filter: contrast(1.1);
  cursor: pointer;
}
.card-content .card-main-content .card-img:hover {
  opacity: 50%;
}
.card-content .card-main-content .data-provider {
  font-size: 80%;
}
.card-content .card-main-content .data-caption {
  color: #ffd698;
}
.card-content .card-main-content .data-copyrights {
  color: #ffd698;
}
.card-content .card-main-content .card-content-button-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}
.card-content .card-main-content .card-content-button-container .data-google-link {
  border: none;
  color: #fffaf0;
  font-weight: 400;
}
.card-content .card-main-content .card-content-button-container .card-save {
  color: #fffaf0;
  opacity: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(6, 0, 16, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modal .modal-content .img-modal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.modal .modal-content figcaption {
  font-weight: bold;
  color: #fffaf0;
  text-align: center;
  padding: 1rem 0;
}
.modal .modal-content .close-modal {
  cursor: pointer;
  align-self: flex-end;
  color: #ffd698;
  font-weight: bold;
  transition: 0.3s;
}
.modal .modal-content .close-modal:hover {
  color: #ffeacb;
}

.saved-items-container {
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
  gap: 2rem;
}
.saved-items-container .saved-item-close {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: flex-end;
  color: #fffaf0;
}

@media only screen and (min-width: 600px) {
  .card-content .card-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .card-content .card-main-content .card-img {
    max-width: 40%;
  }
}
footer {
  color: #fffaf0;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: center;
}
footer a {
  color: #fffaf0;
}

.alert {
  padding: 1rem;
  border-radius: 0.25em;
  border: 2px solid rgba(255, 215, 0, 0.2);
  background-color: rgba(38, 38, 37, 0.1);
  text-align: center;
  color: #ffeacb;
  margin: 2rem 0;
}
.alert .alert-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.alert .alert-content p {
  margin-bottom: 0;
}
.alert .alert-content .alert-close {
  justify-self: flex-end;
  cursor: pointer;
  padding: 0.1em;
}
.alert .alert-content .alert-close:hover {
  color: #ffad32;
}

button {
  background-color: #ffd698;
  padding: 0.5em;
  min-height: 3em;
  border-radius: 0.25em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  opacity: 60%;
}
button:disabled {
  opacity: 30%;
}

.full-width-button {
  margin: 1em 0;
  width: 100%;
  color: #060010;
}
.full-width-button:disabled {
  opacity: 50%;
}

.pagination-button-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  max-width: 70ch;
}

.pagination-button,
.card-save,
.data-google-link,
.saved-item-close {
  cursor: pointer;
  font-size: 16px;
  color: #ffd698;
  background-color: transparent;
}

.chat-container {
  margin-top: 3rem;
}

.add-msg {
  display: flex;
  gap: 1em;
}

.chat-msg {
  text-align: left !important;
  padding: 1rem;
  border-radius: 0.25em;
  border: 2px solid rgba(255, 215, 0, 0.2);
  background-color: rgba(38, 38, 37, 0.1);
  text-align: center;
  color: #ffeacb;
  margin: 2rem 0;
}
.chat-msg .message-author {
  font-weight: bold;
}
.chat-msg .message-date {
  color: #ffd698;
  font-size: 80%;
}

* {
  overflow-wrap: break-word;
  line-height: 1.5;
}

body {
  background-color: #060010;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
body #root {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
}
body #root .root-layout {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
body #root .root-layout header,
body #root .root-layout footer,
body #root .root-layout main {
  padding: 1rem;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  #root {
    justify-content: center;
  }
  #root header,
#root main {
    margin: auto;
    max-width: 600px;
    padding: clamp(1.5rem, 6%, 3rem) !important;
  }
}/*# sourceMappingURL=styles.css.map */