@import "vars";
@import "a11y";
@import "header";
@import "typography";
@import "inputs";
@import "login";
@import "card";
@import "footer";
@import "alerts";
@import "button";
@import "chatroom";

* {
  overflow-wrap: break-word;
  line-height: 1.5;
}

body {
  background-color: $bg-dark;
  font-family: $font;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  #root {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: center;
    .root-layout {
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 100vh;
      header,
      footer,
      main {
        padding: 1rem;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  #root {
    justify-content: center;
    header,
    main {
      margin: auto;
      max-width: 600px;
      padding: $padding-md !important;
    }
  }
}
